.projetos-bg {
  max-width: 1200px;
  margin: auto;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.card {
  padding: 20px 20px;
  max-width: 360px;
  border-radius: 10px;
  background: var(--cor-3);
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.card:hover {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),#5abe6d, #124e1d 43%, var(#00c2a8));
    position: absolute;
    z-index: -1%;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card img {
  width: 100%;
}

.card h3 {
  display: grid;
  margin-top: 20px;
  justify-items: center;
}
.card p{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card a {
  margin-bottom: 20px;
}