.mensagem {
  max-width: 1200px;
  margin: auto; 
  width: 60%; 
  border-left: 5px solid var(--cor-5); 
  padding: 10px;
  margin-bottom: 80px;
}

.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.conteudo {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.paragrafos dl > div {
  padding: 20px;
  border-radius: 4px;
}

.paragrafos dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}

.paragrafos button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.paragrafos button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}

.paragrafos button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}

.paragrafos button:hover::after,
.paragrafos button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.paragrafos dd {
  display: none;
}

.paragrafos dd {
  display: block;
}

.paragrafos dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .paragrafos {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .paragrafos h2 {
    margin-bottom: 40px;
  }
}